{% extends "tickets/base.html" %}

{% load adminmedia %}
{% load tickets_tags %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/widgets.css"/>

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.forms.js"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>

    <script type="text/javascript">window.__admin_media_prefix__ = "/media/";</script>

    {{ form.media }}
    
    <script>
        function prepareDocument(){
            statusBox();
        }
        jQuery(document).ready(prepareDocument);

        $(function() {
            var options = {
                target: '#form-results',
                dataType: 'json',
                beforeSubmit: preSubmit,
                success: postSubmit
            };
        
            $("#agentForm").ajaxForm(options);
        });

        function preSubmit(formData, jqForm, options) {
            $(options.target).text('');
            for (i in jqForm[0].elements) {
                if ('INPUT' != jqForm[0].elements[i].nodeName &&
                    'TEXTAREA' != jqForm[0].elements[i].nodeName)
                    continue;
                $(jqForm[0].elements[i]).attr('disabled', true);
            }
            return true;
        }

        function postSubmit(responseText, statusText, xhr, $form)  {
            for (i in $form[0].elements) {
                if ('INPUT' != $form[0].elements[i].nodeName &&
                    'TEXTAREA' != $form[0].elements[i].nodeName)
                    continue;
                $($form[0].elements[i]).attr('disabled', false);
            }
            if (responseText.success) {
                $('#form-results').html('<div class="ok">Saved.</div>');
            } else {
                var text = '<b>Fix errors and submit again:</b><br />';
                text += '<div class="errors">';
                for (i in responseText.errors) {
                    error = responseText.errors[i];
                    text += '"' + error[0] + '": ' + error[1] + '<br />';
                }
                text += '</div>';
                $('#form-results').html(text);
            }
        }
        
        
        function statusBox() {
            jQuery('<div id="loading">Processing...</div>')
            .prependTo("#main")
            .ajaxStart(function(){jQuery(this).show();})
            .ajaxStop(function(){jQuery(this).hide();})
        }
    </script>

{% endblock %}

{% block content %}
    <h1>{{ agent }}</h1>

    <form id="agentForm" method="post" action="">{% csrf_token %}      
        {{ form.as_p }}
        <p>
            <label for="id_agent_contacts">Contacts:</label>
            {{ contacts.management_form }}
            <table id="id_agent_contacts">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Contact</th>
                    <th>Default</th>
                    <th>Active</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for contact_form in contacts.forms %}
                <tr>
                    <td>{{ contact_form.id }} {{ contact_form.contact_type }}</td>
                    <td>{{ contact_form.contact }}</td>
                    <td>{{ contact_form.is_default }}</td>
                    <td>{{ contact_form.is_active }}</td>
                    <td>{{ contact_form.DELETE }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </p>
        <div id="form-results"></div>            
        <input type="submit" value="Save" name="submit" alt="Save changes" />
    </form>
{% endblock %}

{% block commands %}
    <a href="/">Home</a> |
    {% edit_object agent %} | 
    <a href="/accounts/logout/">Log out</a>
{% endblock %}
