{% extends "tickets/base.html" %}

{% load adminmedia %}
{% load tickets_tags %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/widgets.css"/>

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.forms.js"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>

    <script type="text/javascript">window.__admin_media_prefix__ = "/media/";</script>

    {{ form.media }}
    
    <script>
        function prepareDocument(){
            $(".datepicker").datepicker({ dateFormat : 'yy-mm-dd'});
            statusBox();
        }
        jQuery(document).ready(prepareDocument);

        $(function() {
            var options = {
                target: '#form-results',
                dataType: 'json',
                beforeSubmit: preSubmit,
                success: postSubmit
            };
        
            $("#agentForm").ajaxForm(options);
        });

        function preSubmit(formData, jqForm, options) {
            $(options.target).text('');
            for (i in jqForm[0].elements) {
                if ('INPUT' != jqForm[0].elements[i].nodeName &&
                    'TEXTAREA' != jqForm[0].elements[i].nodeName)
                    continue;
                $(jqForm[0].elements[i]).attr('disabled', true);
            }
            return true;
        }

        function postSubmit(responseText, statusText, xhr, $form)  {
            var rows = [];
            var rows_count = 0;
            var total = $('#id_contactinfo_set-TOTAL_FORMS').val();
            for (i in $form[0].elements) {
                if ('INPUT' != $form[0].elements[i].nodeName &&
                    'TEXTAREA' != $form[0].elements[i].nodeName)
                    continue;
                $($form[0].elements[i]).attr('disabled', false);
                if ($($form[0].elements[i]).attr('name').match("-DELETE$") == "-DELETE" &&
                    $($form[0].elements[i]).attr('checked') == true) {
                    rows[rows_count] = $($form[0].elements[i]).closest("tr");
                    rows_count++;
                }
            }
            if (rows_count > 0) {
                for (row in rows) {
                    rows[row].remove();                
                }
                // reindex rows
                var row_index = -1;
                $('#id_agent_contacts').find('tr').each(function() {
                    $(this).find(':input').each(function() {                        
                        var old_name = $(this).attr('name');
                        var name_part = old_name.match('contactinfo_set-(\\d+)-');
                        var name = old_name.replace(name_part[0], 'contactinfo_set-' + row_index + '-');
                        var id = 'id_' + name;
                        $(this).attr({'name': name, 'id': id});
                    });
                    row_index++;
                });
                $('#id_contactinfo_set-TOTAL_FORMS').val(total - rows_count);
            }

            if (responseText.success) {
                $('#form-results').html('<div class="ok">Saved.</div>');
            } else {
                var text = '<b>Fix errors and submit again:</b><br />';
                text += '<div class="errors">';
                for (i in responseText.errors) {
                    error = responseText.errors[i];
                    text += '"' + error[0] + '": ' + error[1] + '<br />';
                }
                text += '</div>';
                $('#form-results').html(text);
            }
        }        

        function statusBox() {
            jQuery('<div id="loading">Processing...</div>')
            .prependTo("#main")
            .ajaxStart(function(){jQuery(this).show();})
            .ajaxStop(function(){jQuery(this).hide();})
        }

        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                var id = 'id_' + name;

                if ($(this).attr('type') != 'hidden') {
                    $(this).val('');
                }
                $(this).attr({'name': name, 'id': id}).removeAttr('checked');
            });
            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }
    </script>

{% endblock %}

{% block content %}
    <h1>{{ agent }}</h1>

    <form id="agentForm" name="agentForm" method="post" action="">{% csrf_token %}      
        {{ form.as_p }}

        <label for="id_agent_contacts">Contacts:</label>
        {{ contacts.management_form }}
        <table id="id_agent_contacts">
            <thead>
            <tr>
                <th>Type</th>
                <th>Contact</th>
                <th>Default</th>
                <th>Active</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for contact_form in contacts.forms %}
            <tr>
                <td>{{ contact_form.id }} {{ contact_form.contact_type }}</td>
                <td>{{ contact_form.contact }}</td>
                <td>{{ contact_form.is_default }}</td>
                <td>{{ contact_form.is_active }}</td>
                <td>{{ contact_form.DELETE }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--
        <input type="button" value="Add More" id="add_more">
        <script>
            $('#add_more').click(function() {
                cloneMore('#id_agent_contacts tr:last', 'contactinfo_set');
            });
        </script>
        -->
        <a id="add_more" href="javascript:document.agentForm.submit.click();document.location.reload(true);document.location='{% url tickets_edit%}#add_more'">Add more</a>
        <div id="form-results"></div>            
        <input type="submit" value="Save" name="submit" alt="Save changes" />
    </form>
{% endblock %}

{% block commands %}
    <a href="{% url tickets_home %}">Home</a> |
    {% edit_object agent %} | 
    <a href="{% url tickets_http_log %}">Http Request Log</a> | 
    <a href="{% url tickets_logout %}">Log out</a>
{% endblock %}
